<div class="mt-2">
  <a class="btn btn-dark" routerLink="cadastrarConta">Nova Conta</a>
</div>

<table class="table table-secundary table-hover">
  <thead>
    <tr>
      <th scope="col">Agência</th>
      <th scope="col">Número</th>
      <th scope="col">Saldo</th>
      <th scope="col">Nome do Cliente</th>
      <th scope="col">E-mail do Cliente</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conta of contas">
      <td>{{conta.agencia}}</td>
      <td>{{conta.numero}}</td>
      <td>{{conta.saldo}}</td>
      <td>{{conta.cliente.nome}}</td>
      <td>{{conta.cliente.email}}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Ações</button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" [routerLink]="['deposito', conta.id]">Deposito</a></li>
            <li><a class="dropdown-item" [routerLink]="['deposito', conta.id]">Saque</a></li>
            <li><a class="dropdown-item" [routerLink]="['deposito', conta.id]">Transferência</a></li>
            <li><a class="dropdown-item" [routerLink]="['deposito', conta.id]">Extrato</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
